<div class="container">
    <h1 class="title">Dashboard de Estrategia de Emails</h1>
    <div class="btn-panel">
        <button class= "btn-clientes" onclick="fetchClients(0)">Clientes sin Emails</button>
        <button class= "btn-clientes" onclick="fetchClients(1)">Clientes con un Email</button>
        <button class= "btn-clientes" onclick="fetchClients(2)">Clientes con dos Emails</button>
    </div>
    <div class="client-list" id="clientList"></div>
</div>
<script src="/js/script.js"></script> 



