*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1f1e1e;
    padding: 30px 0px 30px;

}
    
.btn-panel{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    background-color: #3a3c54;
    padding: 25px;
    border-radius: 5px;
}

.title{
    color: rgb(82, 82, 82);
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-clientes{
    background-color: rgb(219, 219, 238);
    color: rgb(82, 82, 82);
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

.client-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    background-color: rgb(176, 176, 176);
    padding: 30px;
    gap: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 5px;

}

.btn-send{
    background-color: rgb(14, 128, 31);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 7px;
    margin: 3px;
    cursor: pointer;
    border: none;
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

}

.client-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
}


/* Email controller */
/* --------------------------------------------------------------------------------------------------------------- */

.body-emails{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.email-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #d4d2d2;
    padding: 30px 0px 30px;
}

.title-emails {
    text-align: center;
    margin-bottom: 20px;
}

.buttons-create-emails{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 20px;
    background-color: #3a3c54;
    padding: 25px;
    border-radius: 5px;
}

.table-emails {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-emails th, td {
    padding: 12px;
    border: 1px solid #a3a3a3;
    text-align: center;
}

.table-emails th {
    background-color: #f4f4f4;
}

.btn-upload-emails {
    background-color: #2a2c2e;
    color: white;
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}
.btn-create-emails, .btn-edit-emails {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

.btn-delete-emails {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

.btn-create-emails:hover, .btn-edit-emails:hover, 
.btn-upload-emails:hover, .btn-delete-emails:hover {
    opacity: 0.8;
}

.modal-emails {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20px;
}

.modal-content-emails {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-email {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-email:hover,
.close-email:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title{
    padding: 10px;
    font-size: 18px;
}

.email-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.form-email-first-fields{
    display: flex;
    gap: 40px;
    justify-content: start;
}

.form-label-email{
    font-size: 18px;
    font-weight: 500;
    color: #212121;
    margin: 20px 60px 0 0;
}

.form-input-email{
    padding: 5px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #848484;
    width: 100%;
    max-width: 350px;
}

.select-email{
    padding: 5px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #848484;
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
}

.image-preview-email{
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
    max-height: 80px;
}

.btn-save-emails{
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    max-width: 150px;
}
.form-label-email-upload{
    font-size: 18px;
    font-weight: 500;
    color: #212121;
    margin: 20px 60px 0 0;
}

.btn-upload-emails-submit{
    margin-top: 20px;
    background-color: #2a2c2e;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    max-width: 150px;
    border-radius: 8px;
}

