<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <style>
        .swal2-popup {
        font-family: 'Verdana', sans-serif;
        font-size: 14px;
        font-weight: bold; 
        }
      </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>